/* Style du modal */
.modal {
    display: none; /* Masquer par défaut */
    position: fixed; /* Permet de positionner le modal par rapport à la fenêtre du navigateur */
    z-index: 1; /* Définir une valeur de z-index pour le modal */
    left: 0;
    top: 0;
    width: 100%; /* Largeur pleine écran */
    height: 100%; /* Hauteur pleine écran */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Fallback en cas de problèmes avec les navigateurs */
    background-color: rgba(0,0,0,0.4); /* Couleur noire semi-transparente */
  }
  
  /* Style du contenu du modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrer le contenu du modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de contenu */
  }
  
  /* Style du bouton pour fermer le modal */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  